In [1]:
DATA_COLUMNS = ["item_name", "item_price",
                "item_url", "added_on", "updated_on"]

In [2]:
import pandas as pd

In [31]:
df = pd.DataFrame(columns=DATA_COLUMNS)

In [32]:
df["item_name"].to_list()

[]

In [26]:
items = [
    {"item_name" : "xx",
     "item_price" : 1,
     "item_url": "www.ex.com"
    },
     {"item_name" : "yy",
     "item_price" : 1,
     "item_url": "www.ex.com"
    },
     {"item_name" : "zz",
     "item_price" : 1,
     "item_url": "www.ex.com"
    }
]

In [33]:
df = df.append(items, ignore_index=True)

C:\Users\kfrawee\AppData\Local\Temp\ipykernel_10788\694000209.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(items, ignore_index=True)

In [34]:
df

  item_name item_price    item_url added_on updated_on
0        xx          1  www.ex.com      NaN        NaN
1        yy          1  www.ex.com      NaN        NaN
2        zz          1  www.ex.com      NaN        NaN

In [61]:
try:
    df.loc[df['item_name'] == 'xcx', ][].values[0]
except IndexError:
    print(0.0)

0.0

In [75]:
from datetime import datetime, timezone

In [76]:
df.loc[df['item_name'] == 'xx', ['item_price', 'updated_on']] = [11,  datetime.now(tz=timezone.utc)]

In [77]:
df

  item_name item_price    item_url added_on                        updated_on
0        xx         11  www.ex.com      NaN  2022-11-01 10:12:17.072341+00:00
1        yy          1  www.ex.com      NaN                               NaN
2        zz          1  www.ex.com      NaN                               NaN